.Dashboard-aside {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  height: 100vh;
  width: 240px;
  box-shadow: 0 1px 30px 1px rgba(0, 0, 0, .11);
  background: #fff;
  padding-top: 60px;
  transition: width .3s, -webkit-transform .3s;
  transition: transform .3s, width .3s;
  transition: transform .3s, width .3s, -webkit-transform .3s;
  -webkit-transform: translateX(calc(-100% - 20px));
  transform: translateX(calc(-100% - 20px));
  overflow-y: auto;
  @media screen and (min-width: 576px) {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}