//Default
$navbar-height: 60px;
//----------------- Breakpoints ---------------------
$bp-larger-than-mobile: "min-width: 400px" !default;
$bp-larger-than-phablet: "min-width: 550px" !default;
$bp-larger-than-tablet: "min-width: 750px" !default;
$bp-larger-than-desktop: "min-width: 1000px" !default;
$bp-larger-than-desktophd: "min-width: 1200px" !default;
//----------------- Grid Variables ------------------
$container-width: 1000px !default;
$container-width-larger-than-mobile: 85% !default;
$container-width-larger-than-phablet: 80% !default;
$total-columns: 12 !default;
$column-width: 100 / $total-columns !default; // calculates individual column width based off of # of columns
$column-margin: 2% !default; // space between column grids
//-------------- Flex Grid Variables ----------------
$flex-grid__column--fixed-width: 200px !default;
$flex-grid--column-margin: 2% !default;
//-------------- Assets -----------------------------
$base-url: '/assets/' !default;

//Components
$Navbar-height: $navbar-height;
$Dashboard-header: $navbar-height;
