.DropDown {
  position: relative;
  &__trigger {
    &:hover {
      cursor: pointer;
    }
  }
  &__menu {
    z-index: 101;
    position: absolute;
    width: 100%;
    padding: 0 10px;
    min-width: 220px;
    right: 0;
    display: none;
    &--open {
      display: block;
    }
  }
}