.ListItem {
  display: flex;
  padding: 9px 20px;
  transition: all .3s;
  height: 32px;
  width: 100%;
  position: relative;
  cursor: pointer;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    opacity: 0;
    top: 0;
    height: 100%;
    width: 2px;
    background-color: #4ce1b6;
    transition: all .3s;
  }
  &:hover {
    background-color: #fafbfe;
    &::before {
      opacity: 1;
    }
  }
  &--active {
    background-color: #fafbfe;
    &::before {
      opacity: 1;
    }
  }
}