$Modal-padding: 40px !default;
.Modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.43);
  @include transition(all .3s ease-in-out);
  padding: 40px;
  display: flex;
  flex-direction: column;
  &__dialog {
    max-width: 550px;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: auto;
    border-radius: 5px;
  }
  &__body {
    padding: $Modal-padding;
  }
}